<!-- <app-sidebar></app-sidebar> -->
<div class="main-container">
    <div class="left">
        <app-sidebar></app-sidebar>
    </div>
    <div class="center">
        <div class="centre-title">
            <h2>Dashboard</h2>
        </div>
        <div class="centre-top">
            <div class="centre-left c">
                <h2 class="currency">NGN</h2>
            <div class="balance">
                <p>Balance</p>
                <h2 >N 1 000 000</h2>
            </div>

            </div>
           
            <div class="centre-right c">

            </div>
           
            
        </div>
        <div class="centre-bottom">
            <h3>Markets</h3>
            <div class="list">
                <ul class="market-list">
                    <li class="market-link"><div class="mark"> </div> </li>
                    <li class="market-link"><div class="mark"> </div> </li>
                    <li class="market-link"><div class="mark"> </div> </li>
                    <li class="market-link"><div class="mark"> </div> </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">

        <ul class="top-functions">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            
            <li>
            <div class="profile">

            </div>
            </li>

            <li>
            <div class="settings">
                settings <i class="bi bi-gear"></i>
            </div>
            </li>

            <li>
            <div class="rank"> Noob</div>
            </li>

        </ul>

        <div class="right-cont">

        
        <div class="right-title">
            <h2>Today's Prices  <i class="bi bi-currency-exchange"></i></h2>
        </div>
        <div class="first-currency">
            <h4>USD/NGN <i class="bi bi-currency-dollar"></i></h4>
            
            <div class="buy">
                Buy: 120
            </div>
            <div class="sell">
                Sell: 130
            </div>
        </div>
        
        <div class="second-currency">
            <h4>GBP/NGN</h4>
            <div class="buy">
                Buy: 200
            </div>
            <div class="sell">
                Sell: 220
            </div>
        </div>
        
        <div class="third-currency">
            <h4>EUR/NGN</h4>
            <div class="buy">
                Buy: 350
            </div>
            <div class="sell">
                Sell: 400
            </div>
        </div>
        </div>
      
    </div>
</div>


