<div class="converter">
    <h5>Currency converter</h5>
    <form>
        <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              from
            </button>
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                To
              </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Naira</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      
        <h5>0.00</h5>

        <button type="Convert" class="btn btn-dark">Submit</button>
      </form>
      
</div>