.main-container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, #d3ddde, #dbe3e5, #e4e9ec, #eceff2, #f4f5f7, #eceef1, #e5e6ea, #dddfe4, #c2c9d1, #a5b4bc, #89a0a6, #6e8c8d);
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 17px;
    overflow: hidden;
}
