<div class="main-container">

      
     <div class="nav-bar">
        <div class="logo">Logo</div>
        <ul class="nav-list-grp">
            <li class="nav-list"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-list"><a class="nav-link" href="#">How it works</a></li>
            <li class="nav-list"><a class="nav-link" href="#">Support</a></li>
            
        </ul>
        <div class="buttons">
            <div class="navbtn" >sign up</div>
            <div type="button" class="btn btn-primary navbtn login" data-bs-toggle="button" autocomplete="off">login</div>
        </div>
    </div>
    
    <div class="main-body">
        <div class="left">
            <div class="big-text">
                <h1>Best way to make online payments</h1>
            </div>
            <div class="leftimage">              
            </div>
        </div>
        <div class="right">
            <div class="right-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
            <div class="btn-border">
                <div class="btn btn-primary action" routerLinkActive ="active" routerLink = "dashboard">
                   Order now 
                </div>
            </div>
            
        </div>
    </div>
</div>
