<div class="main-container">

      
     <div class="nav-bar">
        <div class="logo">Logo</div>
        <ul class="nav-list-grp">
            <li class="nav-list"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-list"><a class="nav-link" href="#">How it works</a></li>
            <li class="nav-list"><a class="nav-link" href="#">Support</a></li>
            
        </ul>
        <div class="buttons">
            <div class="navbtn" routerLinkActive="active" routerLink="register" >Sign up</div>
            <div type="button" routerLinkActive="active" routerLink="login" class="btn btn-dark navbtn login" data-bs-toggle="button" >Login</div>
        </div>
    </div>
    
    <div class="main-body">
        <div class="left">
            <div class="big-text">
                <h1>The Next Gen Payment Method</h1>
            </div>
            <div class="left-small-text">   
                         
            </div>
            
           
            <div class="btn-border">
                <div class="btn btn-dark action" routerLinkActive ="active" routerLink = "dashboard1">
                   Create your wallet  
                </div>
            </div>

            <div class="left-footer">
                <div class="right-container">

                </div>
                <div class="left-container">
                    
                </div>
            </div>
        </div>
        <div class="right">
            <div class="hero-image">
                <img src="../../../assets/pexels-cottonbro-6626903-removebg-preview.png" alt="">
            </div>
          <div class="right-circle">

          </div>
           
            
        </div>
    </div>
</div>
