<div class="main-container">
    <div class="logo">Logo</div>
    <div class="middle-top">
      <div class="search">
        <i class="bi bi-search"></i>
      </div>
      <div class="top-menu">
        <div class="settings">settings <i class="bi bi-gear"></i></div>
  
        <div class="rank">Noob</div>
      </div>
    </div>
    <div class="profile-photo">
      <div class="profile-image"></div>
    </div>
    <div class="left-container">
      <div class="button"><i class="bi bi-speedometer2"></i></div>
      <div class="button"><i class="bi bi-arrow-left-right"></i></div>
    </div>
  
  
    <div class="middle-container">
       
        <div class="middle-top-container">
          
          <div class="middle-top-container-left">
              <div class="wallet-section-functions">
                  <div class="add-btn">
                      <h3>Portfolio</h3>
                  </div>
              </div>
              <div class="portfolio-data-container">
  
                  <div class="portfolio-charts"></div>
                  <div class="charts-container-partition">
                      <div class="top-partition">
                          <h6>Balance</h6>
                          <h4>N 3 500 000</h4>
                      </div>
                      <div class="bottom-partition">
                          <h6>Debit</h6>
                          <h4>N 200 000</h4>
                          <h6>Credit</h6>
                          <h4>N 500 000</h4>
                      </div>
                  </div>
  
              </div>
          </div>
  
          <div class="middle-top-container-right">
              <div class="wallet-section-functions">
                  <div class="add-btn">
                      <i class="bi bi-plus-square"></i>
                      <h3>Wallets</h3>
                  </div>
                  
                  <i class="bi bi-three-dots-vertical"></i>
              </div>
              <div class="wallets">
                  <div class="wallet-container">
                      <div class="wallet"></div>
                       <div class="balance">
                          <h4>N 200 000 000</h4>
                       
                      </div>
                      
  
                  </div>
                  <div class="wallet-container">
                      <div class="wallet"></div>
                       <div class="balance">
                          <h4>$ 3000 </h4>
                       
                      </div>
  
  
                  </div>
  
              </div>
          </div>
        </div>
        <div class="middle-bottom-container">
          <div class="middle-bottom-container-left">
              <div class="market-section-heading">
                  <div class="add-btn">
                      
                      <h3>Markets</h3>
                  </div>
                  
                  <i class="bi bi-three-dots-vertical"></i>
              </div>
              <div class="markets">
                  <ul class="market-list">
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-dollar"></i> <div class="currency-name">Dollar</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-pound"></i> <div class="currency-name">Pound</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-euro"></i> <div class="currency-name">Euro</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-yen"></i> <div class="currency-name">Yen</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-euro"></i> <div class="currency-name">Euro</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-yen"></i> <div class="currency-name">Yen</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                       <li class="market-link"><div class="mark"> <i class="bi bi-currency-euro"></i> <div class="currency-name">Euro</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      <li class="market-link"><div class="mark"> <i class="bi bi-currency-yen"></i> <div class="currency-name">Yen</div> <div class="value">$480</div> <div class="profit">6%</div>  </div> </li>
                      
                  </ul>
              </div>
  
  
          </div>
          <div class="middle-bottom-container-right">
              <app-currencyconverter></app-currencyconverter>
              <div class="todays-prices">
                  <div class="right-title">
                      <h4>Today's Prices  <i class="bi bi-currency-exchange"></i></h4>
                  </div>
  
                  <div class="currency">
                      <h4>USD/NGN <i class="bi bi-currency-dollar"></i></h4>
                      
                      <div class="buy">
                          Buy: 120
                      </div>
                      <div class="sell">
                          Sell: 130
                      </div>
                  </div>
  
                  <div class="currency">
                      <h4>EUR/NGN <i class="bi bi-currency-euro"></i></h4>
                      
                      <div class="buy">
                          Buy: 120
                      </div>
                      <div class="sell">
                          Sell: 130
                      </div>
                  </div>
  
                  <div class="currency">
                      <h4>PND/NGN <i class="bi bi-currency-pound"></i></h4>
                      
                      <div class="buy">
                          Buy: 120
                      </div>
                      <div class="sell">
                          Sell: 130
                      </div>
                  </div>
  
                 
              </div>
          </div>
        </div>
    </div>
    <div class="right-container"></div>
  </div>