body{
    overflow: hidden;
}
.main-container{
    /* background-color: #f1f5fb; */
    background-image: linear-gradient(to right bottom, #d3ddde, #dbe3e5, #e4e9ec, #eceff2, #f4f5f7, #eceef1, #e5e6ea, #dddfe4, #c2c9d1, #a5b4bc, #89a0a6, #6e8c8d);
   
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: .1fr 1fr .05fr;
    grid-template-rows: .1fr 1fr .05fr ;
    grid-template-areas: "top-left top-middle top-right"
                         "left middle right"
                         "bottom-left bottom-middle bottom-right";
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}



  .wallet,.main-container,.portfolio-charts:before {
    background-color: rgba(188, 229, 245, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 20px;
  } 

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.left-container{
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    z-index: 1;
}
.left-container div:hover{
    color: rgb(44, 42, 160);
    transform: translateY(-3px);
    transition: .3s;
}
.middle-top{
    grid-area: top-middle;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 1%;
    justify-content: space-between;
    z-index: 1;
}
.top-menu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    width: 16%;
    cursor: pointer;
    z-index: 1;
}
.top-menu div:hover{
    color: rgb(77, 77, 206);
    transform: translateY(-1px);
    transition: .3s;
}
.nav-link{
    margin-right: 10px;
    z-index: 1;
}
.profile-photo{
    grid-area: top-right;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.profile-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: black;
}
.middle-container{
    background-color: #f9fbfc8a    ;
    border-radius: 20px;
    grid-area: middle;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}


.middle-top-container{
  
    border-radius: 20px 20px 0 0;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-image: url("../../../assets/pngfind.com-blue-wave-png-1989412.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.middle-bottom-container{
  
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1%;
    overflow: hidden;
}
.middle-top-container-left{
   
    width: 49.5%;
    height: 100%;
}

.portfolio-data-container{
    height: 80%;
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}

.portfolio-charts{
    width: 57%;
   
    height: 100%;
    position: relative;
}
.charts-container-partition{
    height: 100%;
    width: 40%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
}
.charts-container-partition h6{
    font-weight: 300;
}
.top-partition{
    background-color:#f9fbfc;
    height: 30%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    box-shadow: 0 2px 5px 0px gray;
}
.top-partition h4{
    line-height: 0;
    
}
.bottom-partition{
    height: 67%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #f2cc18, #f4d414, #f6dc11, #f7e50d, #f8ed0b, #faed1b, #fbee25, #fdee2d, #ffe63d, #ffde49, #fed655, #fbcf5f);
    border-radius: 20px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0;
    box-shadow: 0 2px 5px 0px gray;
    position: relative;
}
.engraved {
    
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
 }


.middle-top-container-right{
    width: 49.5%;
    height: 100%;
    
}
.wallet-section-functions{
    display: flex;
    justify-content: space-between;
    height: 15%;
    font-size: 20px;
    align-items: center;
    padding: 0 2% 0 2%;
}
.add-btn{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;

}
.wallet-container{
    width: 170px;
    margin-right: 20px;
    color: black;
}
.wallets{
    display: flex;
    height: 80%;
    width: 100%;
   
    padding: 2%;
    padding-left: 50px;
}
.wallet{
    height:100%;
    width: 170px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 2px 5px 0px gray;
    transition: .3s;
    box-sizing: border-box;
    overflow: hidden;
    padding: 3%;
    
   
}
.wallet:hover{
    transform: translateY(-10px);
    box-shadow:0 20px 10px 0px rgba(63, 63, 63, 0.281);
}

.wallet-address{
    transform: rotateZ(-90deg);
    position: absolute;
    letter-spacing: 5px;
    right: -20%;
    bottom: 40%;
    color: grey;
   
    text-shadow: rgba(123, 157, 209, 0.5) 3px 5px 1px;
}

.wallet-icon{
    width: 50px;
    height: 50px;
}
.wallet-icon img{
    width: 100%;
}
.wallet-buttons{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
}
.btn-outline-dark{
    width: 90px;
}

.balance{
    margin-top: 10px;
}


.middle-bottom-container-right{
    width: 49.5%;
    height: 100%;
    padding: 1%;
    /* background-image: url("../../../assets/158123-sound-free-transparent-image-hq.png"); */
    display: flex;
    justify-content: space-between;
}
.converter{
    margin-left: 3%;
}
.todays-prices{
    padding: 1%;
    width: 50%;
    height: 100%;
    
    overflow: auto;
    border-radius: 20px;
}
.currency{
    margin-top:8% ;
    display: flex;
    height: 20%;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    background-color: #f9fbfc ;
    
    box-shadow: 1px 1px 10px 1px rgba(88, 87, 87, 0.452);
}
.buy{
    color: green;
}
.sell{
    color: red;
}

.middle-bottom-container-left{
    width: 49.5%;
    height: 100%;
    background-color: #f1f5fb;
    border-radius: 20px;
    padding: 1%;
    overflow: auto;
    box-sizing: border-box;
}

.market-section-heading{
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    align-items: center;
}
.markets{
    overflow: auto;

}
.market-list{
    list-style: none;
    overflow: hidden;
}

.mark{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(183, 233, 241, 0.336);
}
