.main-container{
    background-image: linear-gradient(to right bottom, #d3ddde, #dbe3e5, #e4e9ec, #eceff2, #f4f5f7, #eceef1, #e5e6ea, #dddfe4, #c2c9d1, #a5b4bc, #89a0a6, #6e8c8d);
    height: 100vh;
    width: 100%;
}