<div class="main-container">
    <div class="back-btn" routerLinkActive="active" routerLink="">
        <i class="bi bi-arrow-90deg-left"></i>
    </div>
    <div class="register-form-container">
        <h2>Login</h2>
        <form >

           
            <input type="email" name="email" id="email" placeholder="email"><br>
            <input type="password" name="password" id="password" placeholder="password"><br>            
            
            <p class="forgot">forgot password?</p>

            <div class="col-12">
              <button type="submit" class="btn btn-dark">Log in</button>
            </div>
          </form>
    </div>
</div>
